---
<font color='Blue' size="4">
F37.101 ì»´í“¨íŒ… ê¸°ì´ˆ: ì²˜ìŒ ë§Œë‚˜ëŠ” ì»´í“¨íŒ…(First Adventures in Computing)</font>

---

# Chapter 12. Pandas II

:::{admonition} í•™ìŠµëª©í‘œì™€ ê¸°ëŒ€íš¨ê³¼
:class: info  
- í•™ìŠµëª©í‘œ
  - íŒŒì¼ ì…ì¶œë ¥ ë°©ë²•ì„ ìµí˜€ë³´ì.
  - ë°ì´í„° ì²˜ë¦¬ì— ê´€ë ¨ëœ í•¨ìˆ˜ë¥¼ ìµí˜€ë³´ì.
  - ChatGPTë¥¼ í™œìš©í•˜ì—¬ íŒŒì´ì¬ ì½”ë“œë¥¼ ì‘ì„±í•´ë³´ì.
- ê¸°ëŒ€íš¨ê³¼
  - ChatGPTì™€ pandasë¥¼ í™œìš©í•˜ì—¬ ë‹¤ì–‘í•œ ë°ì´í„° ì—°ì‚° ë° ë¶„ì„ì— í•„ìš”í•œ ê¸°ëŠ¥ì„ ì‰½ê³  ë¹ ë¥´ê²Œ ì½”ë”©í•  ìˆ˜ ìˆë‹¤.
:::

ğŸ˜„ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±í•´ì£¼ì„¸ìš”.

In [1]:
import pandas as pd
ScoresWithLectures={'êµ­ì–´':[84,21,87,100,59,46], 'ìˆ˜í•™':[87,15,84,87,99,77], 'ì˜ì–´':[78,84,76,99,59,56]}
names=['ì² ìˆ˜','ì˜ì´','ê¸¸ë™','ë¯¸ì˜','ìˆœì´','ì² ì´']
#todo ë³€ìˆ˜ dfì— ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±í•´ì£¼ì„¸ìš”.

ğŸ˜„ ê° í•™ìƒ ë³„ 'ì´ì ' ì—´ì„ ì¶”ê°€í•´ ì£¼ì„¸ìš”.

ğŸ˜„ 'ê¸¸ë™'ì˜ ì»´ê¸° ì ìˆ˜ë¥¼ 86ì ìœ¼ë¡œ ìˆ˜ì •í•´ ì£¼ì„¸ìš”.

ğŸ˜„ ê¸¸ë™ì˜ ì´ì ë„ ë‹¤ì‹œ ê³„ì‚°í•´ ì£¼ì„¸ìš”.

ğŸ˜„ 'ê°•ì¢Œ'ì—´ì„ ì¶”ê°€í•˜ê³  '001'ì„ ê°’ìœ¼ë¡œ ë„£ì–´ì£¼ì„¸ìš”.

ğŸ˜„ ê³¼ëª©ë³„ 'í•©ê³„'í–‰ì„ ë§Œë“¤ì–´ë³´ì„¸ìš”.

ğŸ˜„ 'ê°•ì¢Œ'ì—´ì„ ì‚­ì œí•´ì£¼ì„¸ìš”.

ğŸ˜„ 'í•©ê³„'í–‰ì„ ì‚­ì œí•´ì£¼ì„¸ìš”.

## íŒŒì¼ ì…ì¶œë ¥

|íŒŒì¼ í˜•ì‹|ì½ê¸°|ì“°ê¸°|
|:----------:|:----------|:----------|
|MS Excel|read_excel| to_excel|
|CSV|read_csv| to_csv|
|JSON|read_json|to_json|
|HTML|read_html|to_html|
|Local clipboard|read_clipboard|to_clipboard|
|HDF5 format|read_hdf|to_hdf|
|SQL|read_sql|to_sql|

- csv íŒŒì¼ì„ ë¶ˆëŸ¬ì˜¬ ë•Œ
  - pd.read_csv('íŒŒì¼ëª…', index_col=ì¹¼ëŸ¼ë²ˆí˜¸, encoding='ì¸ì½”ë”©ë°©ë²•')
    - index_col:ì¹¼ëŸ¼ë²ˆí˜¸ë¥¼ ì„¤ì •ì¸ë±ìŠ¤ë¡œ ì§€ì •í•œë‹¤.
    - usecols: ì‚¬ìš©í•  ì¹¼ëŸ¼ë²ˆí˜¸ë¥¼ ì§€ì •í•œë‹¤.
    - header: í—¤ë”(ì¹¼ëŸ¼)ìœ¼ë¡œ ì„ íƒí•  í—¤ë”ë¥¼ ì§€ì •í•œë‹¤.
    - encoding: í•œê¸€ì´ ê¹¨ì§ˆë•Œì—ëŠ” encoding ì˜µì…˜ì— 'euc-kr'ì„ ë„£ì–´ì¤€ë‹¤.
    - ì´ ì™¸ì—ë„ ë§ì€ ì˜µì…˜ì´ ìˆë‹¤.

- excelíŒŒì¼ì„ ë¶ˆëŸ¬ì˜¬ ë•Œ
  - pd.read_excel('íŒŒì¼ëª…', encoding='ì¸ì½”ë”©ë°©ë²•')

:::{admonition} ì¸ì½”ë”© & ë””ì½”ë”©
:class: tip  
- ì¸ì½”ë”©(encoding)ëŠ” ì½”ë“œí™” ë˜ëŠ” ì•”í˜¸í™”ë¡œ ë¶ˆë¦¬ìš°ë©°, ë¬¸ìì—´ì„ ë°”ì´íŠ¸ì½”ë“œë¡œ ë³€í™˜í•˜ëŠ” ê²ƒì„ ì˜ë¯¸í•œë‹¤.
- ì¸ì½”ë”©ì„ í•˜ëŠ” ì´ìœ ëŠ” ì–¸ì–´ë§ˆë‹¤ í‘œì¤€í™”ëœ ê·œê²©ìœ¼ë¡œ ë¬¸ìì§‘í•©ì„ ë§Œë“¤ê³ , ì´ëŸ¬í•œ ë¬¸ìì§‘í•©ì„ ê°€ì§€ê³  ì •ë³´ì˜ í˜•íƒœ í‘œì¤€í™”, ë³´ì•ˆ, ì €ì¥ ê³µê°„ ì ˆì•½ ë“±ì˜ ë‹¤ì–‘í•œ ëª©ì ìœ¼ë¡œ ë¶€í˜¸í™”í•˜ì—¬ ì‚¬ìš©í•˜ê¸° ìœ„í•œ ê²ƒì´ë‹¤.
- íŒŒì´ì¬ì—ì„œëŠ” ë¬¸ìì—´ì„ ìœ ë‹ˆì½”ë“œë¡œ ì²˜ë¦¬í•˜ëŠ”ë° ìœ ë‹ˆì½”ë“œë¥¼ utf-8, euc-kr, ascii í˜•ì‹ì˜ ì¸ì½”ë”©ë°©ì‹ì„ ì‚¬ìš©í•˜ì—¬ ë°”ì´íŠ¸ì½”ë“œë¡œ ë³€í™˜í•œë‹¤. ì˜ˆë¥¼ ë“¤ì–´,
```
x='í•œê¸€'
encoded = x.encode('utf-8')
print(f'Output: {encoded}')
```
Output: b'\xed\x95\x9c\xea\xb8\x80'

- ì—¬ê¸°ì„œ ê²°ê³¼ë¡œ ë‚˜ì˜¨ b'\xed\x95\x9c\xea\xb8\x80'ê°€ ë°”ì´íŠ¸ ì½”ë“œì´ë‹¤.

- ë””ì½”ë”©(decoding)ì€ ì—­ì½”ë“œí™” ë˜ëŠ” ë³µí˜¸í™”ë¡œ ë¶ˆë¦¬ìš°ë©°, ë°”ì´íŠ¸ì½”ë“œë¥¼ ë¬¸ìì—´ë¡œ ë³€í™˜í•˜ëŠ” ê²ƒì„ ì˜ë¯¸í•œë‹¤.
- ì´ë•Œ ë””ì½”ë”©ì—ì„œë„ ì¸ì½”ë”© ì‹œ ì‚¬ìš©í–ˆë˜ ê²ƒê³¼ ë™ì¼í•œ ì¸ì½”ë”© ë°©ì‹(utf-8, euc-kr, ascii ë“±)ì´ ì‚¬ìš©ë˜ì–´ì•¼ í•œë‹¤.
```
decoded = encoded.decode('utf-8')
print(f'Output: {decoded}')
```
Output: í•œê¸€

:::

- íŒŒì¼ ì½ê³  ì €ì¥í•˜ê¸°

In [2]:
import pandas as pd
scores = [[84,87,78], [21,15,84], [87,84,76], [100,87,99],[59,99,59],[46,77,56]]
names=['ì² ìˆ˜','ì˜ì´','ê¸¸ë™','ë¯¸ì˜','ìˆœì´','ì² ì´']
lectures=['êµ­ì–´','ìˆ˜í•™','ì˜ì–´']
d1 = pd.DataFrame(scores, index=names, columns=lectures)
d1

     êµ­ì–´  ìˆ˜í•™  ì˜ì–´
ì² ìˆ˜   84  87  78
ì˜ì´   21  15  84
ê¸¸ë™   87  84  76
ë¯¸ì˜  100  87  99
ìˆœì´   59  99  59
ì² ì´   46  77  56

In [3]:
# ì—‘ì…€ë¡œ ì €ì¥í•˜ê¸°
d1.to_excel('sample.xlsx')

In [4]:
# ì—‘ì…€ ì½ì–´ì˜¤ê¸°
d2 = pd.read_excel("sample.xlsx")
d2

  Unnamed: 0   êµ­ì–´  ìˆ˜í•™  ì˜ì–´
0         ì² ìˆ˜   84  87  78
1         ì˜ì´   21  15  84
2         ê¸¸ë™   87  84  76
3         ë¯¸ì˜  100  87  99
4         ìˆœì´   59  99  59
5         ì² ì´   46  77  56

- index_col ì˜µì…˜ì€ ì¸ë±ìŠ¤ ì¹¼ëŸ¼ì„ ì§€ì •í•˜ì—¬ ì½ì–´ì˜¬ ìˆ˜ ìˆê²Œ í•´ì¤€ë‹¤.

In [5]:
d2 = pd.read_excel("sample.xlsx", index_col=0)
d2

     êµ­ì–´  ìˆ˜í•™  ì˜ì–´
ì² ìˆ˜   84  87  78
ì˜ì´   21  15  84
ê¸¸ë™   87  84  76
ë¯¸ì˜  100  87  99
ìˆœì´   59  99  59
ì² ì´   46  77  56

In [6]:
# csvë¡œ ì €ì¥í•˜ê¸°
d2.to_csv('sample.csv', encoding='euc-kr')

In [7]:
d2 = pd.read_csv('sample.csv', encoding='euc-kr', index_col=0)
d2

     êµ­ì–´  ìˆ˜í•™  ì˜ì–´
ì² ìˆ˜   84  87  78
ì˜ì´   21  15  84
ê¸¸ë™   87  84  76
ë¯¸ì˜  100  87  99
ìˆœì´   59  99  59
ì² ì´   46  77  56

## ìë£Œí˜• ë‹¤ë£¨ê¸°
- .astype(ìë£Œí˜•)

In [8]:
d2 = d1.astype('str')
d2

     êµ­ì–´  ìˆ˜í•™  ì˜ì–´
ì² ìˆ˜   84  87  78
ì˜ì´   21  15  84
ê¸¸ë™   87  84  76
ë¯¸ì˜  100  87  99
ìˆœì´   59  99  59
ì² ì´   46  77  56

In [9]:
d2.sum()

êµ­ì–´    8421871005946
ìˆ˜í•™     871584879977
ì˜ì–´     788476995956
dtype: object

## ëˆ„ë½ê°’ ì²˜ë¦¬í•˜ê¸°

- ëˆ„ë½ ë°ì´í„° í™•ì¸
  - isnull(): ëˆ„ë½ ë°ì´í„°ì´ë©´ True, ìœ íš¨í•œ ë°ì´í„°ì´ë©´ Falseë¥¼ ë°˜í™˜
  - notnull():ìœ íš¨í•œ ë°ì´í„°ì´ë©´ True, ëˆ„ë½ë°ì´í„°ì´ë©´ Falseë¥¼ ë°˜í™˜

In [10]:
scores = [[84,87,78], [21,15,84], [87,84,76], [100,87,99],[59,99,59],[46,77,56]]
names=['ì² ìˆ˜','ì˜ì´','ê¸¸ë™','ìŠ¬ê¸°','ìˆœì´','ì² ì´']
lectures=['êµ­ì–´','ìˆ˜í•™','ì˜ì–´']
d2 = pd.DataFrame(scores, index=names, columns=lectures)
d2

     êµ­ì–´  ìˆ˜í•™  ì˜ì–´
ì² ìˆ˜   84  87  78
ì˜ì´   21  15  84
ê¸¸ë™   87  84  76
ìŠ¬ê¸°  100  87  99
ìˆœì´   59  99  59
ì² ì´   46  77  56

- d1ê³¼ d2ë¥¼ ë”í•´ì„œ ì¼ë¶€ëŸ¬ ëˆ„ë½ê°’ì„ ë§Œë“¤ì–´ì„œ í…ŒìŠ¤íŠ¸í•´ë³´ì.

In [11]:
d3=d1+d2
d3

       êµ­ì–´     ìˆ˜í•™     ì˜ì–´
ê¸¸ë™  174.0  168.0  152.0
ë¯¸ì˜    NaN    NaN    NaN
ìˆœì´  118.0  198.0  118.0
ìŠ¬ê¸°    NaN    NaN    NaN
ì˜ì´   42.0   30.0  168.0
ì² ìˆ˜  168.0  174.0  156.0
ì² ì´   92.0  154.0  112.0

In [12]:
d3.isnull()
#d3.notnull()

       êµ­ì–´     ìˆ˜í•™     ì˜ì–´
ê¸¸ë™  False  False  False
ë¯¸ì˜   True   True   True
ìˆœì´  False  False  False
ìŠ¬ê¸°   True   True   True
ì˜ì´  False  False  False
ì² ìˆ˜  False  False  False
ì² ì´  False  False  False

- ëˆ„ë½ë°ì´í„°ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í•˜ë ¤ë©´ .isnull().sum()ìœ¼ë¡œ nullì¸ ë°ì´í„°ì˜ ê°œìˆ˜ë¥¼ í•©í•œë‹¤.

In [13]:
d3.isnull().sum()

êµ­ì–´    2
ìˆ˜í•™    2
ì˜ì–´    2
dtype: int64

- ëˆ„ë½ ë°ì´í„° ì œê±°
  - í–‰ì œê±°: .dropna(subset=['ì—´1','ì—´2'] axis=0)
    - 'ì—´1' ë˜ëŠ” 'ì—´2' ì¤‘ í•˜ë‚˜ë¼ë„ NaNì´ë©´ í•´ë‹¹ í–‰(row)ì„ ì œê±°
    - ìƒëµí•˜ë©´ ëª¨ë“  ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ NaNì´ ìˆëŠ” í–‰ì„ ì œê±°
    - dropnaëŠ” ê¸°ë³¸ì ìœ¼ë¡œ í–‰ì œê±°í•˜ëŠ” í•¨ìˆ˜
  - ì—´ì œê±°: .dropna(axis=1)
    - NaNì´ í•˜ë‚˜ë¼ë„ ìˆëŠ” ì—´ ì „ì²´ë¥¼ ì œê±°

In [14]:
d4=d3.dropna(axis=0)
d4

       êµ­ì–´     ìˆ˜í•™     ì˜ì–´
ê¸¸ë™  174.0  168.0  152.0
ìˆœì´  118.0  198.0  118.0
ì˜ì´   42.0   30.0  168.0
ì² ìˆ˜  168.0  174.0  156.0
ì² ì´   92.0  154.0  112.0

- ëˆ„ë½ ë°ì´í„° ì¹˜í™˜
  - .fillna(ê°’)

In [15]:
min_kor = d3['êµ­ì–´'].min()
d3['êµ­ì–´'].fillna(min_kor, inplace=True)
d3

       êµ­ì–´     ìˆ˜í•™     ì˜ì–´
ê¸¸ë™  174.0  168.0  152.0
ë¯¸ì˜   42.0    NaN    NaN
ìˆœì´  118.0  198.0  118.0
ìŠ¬ê¸°   42.0    NaN    NaN
ì˜ì´   42.0   30.0  168.0
ì² ìˆ˜  168.0  174.0  156.0
ì² ì´   92.0  154.0  112.0

## ì¤‘ë³µë°ì´í„° ì²˜ë¦¬

- .duplicated(): ì¤‘ë³µëœ í–‰ì´ë©´ True, ì•„ë‹ˆë©´ Falseì´ë‹¤.

In [16]:
d3.duplicated()

ê¸¸ë™    False
ë¯¸ì˜    False
ìˆœì´    False
ìŠ¬ê¸°     True
ì˜ì´    False
ì² ìˆ˜    False
ì² ì´    False
dtype: bool

In [17]:
d3['êµ­ì–´'].duplicated()

ê¸¸ë™    False
ë¯¸ì˜    False
ìˆœì´    False
ìŠ¬ê¸°     True
ì˜ì´     True
ì² ìˆ˜    False
ì² ì´    False
Name: êµ­ì–´, dtype: bool

- ì¤‘ë³µí–‰ ì œê±°:  .drop_duplicates(subset=ì»¬ëŸ¼ëª…ë¦¬ìŠ¤íŠ¸)

In [18]:
d3.drop_duplicates(subset=['êµ­ì–´', 'ì˜ì–´'])

       êµ­ì–´     ìˆ˜í•™     ì˜ì–´
ê¸¸ë™  174.0  168.0  152.0
ë¯¸ì˜   42.0    NaN    NaN
ìˆœì´  118.0  198.0  118.0
ì˜ì´   42.0   30.0  168.0
ì² ìˆ˜  168.0  174.0  156.0
ì² ì´   92.0  154.0  112.0

## ì‹œê³„ì—´ ë°ì´í„°
- ë‹¤ë¥¸ ìë£Œí˜•ì„ ì‹œê³„ì—´ ê°ì²´ë¡œ ë³€í™˜
- to_datetime(): ë¬¸ìì—´ì„ timestampë¡œ ë³€í™˜

In [19]:
import pandas as pd
data = [['1990-03-02', 90], ['1991-08-08', 95], ['1990-11-22',90], ['1991-01-05', 88]]
names=['ì² ìˆ˜','ì˜ì´','ê¸¸ë™','ë¯¸ì˜']
column=['ìƒë…„ì›”ì¼','ì ìˆ˜']
d1 = pd.DataFrame(data, index=names, columns=column)
d1

          ìƒë…„ì›”ì¼  ì ìˆ˜
ì² ìˆ˜  1990-03-02  90
ì˜ì´  1991-08-08  95
ê¸¸ë™  1990-11-22  90
ë¯¸ì˜  1991-01-05  88

- ìƒë…„ì›”ì¼ì„ í™•ì¸í•´ë³´ë©´ object íƒ€ì…ì´ë‹¤.

In [20]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, ì² ìˆ˜ to ë¯¸ì˜
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ìƒë…„ì›”ì¼    4 non-null      object
 1   ì ìˆ˜      4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 96.0+ bytes

- object íƒ€ì…ì˜ ìƒë…„ì›”ì¼ì„ ì‹œê³„ì—´ ë°ì´í„°íƒ€ì…ì¸ datetimeí˜•ìœ¼ë¡œ ë°”ê¿”ë³´ì.

In [21]:
d1['ìƒë…„ì›”ì¼'] = pd.to_datetime(d1['ìƒë…„ì›”ì¼'])
d1

         ìƒë…„ì›”ì¼  ì ìˆ˜
ì² ìˆ˜ 1990-03-02  90
ì˜ì´ 1991-08-08  95
ê¸¸ë™ 1990-11-22  90
ë¯¸ì˜ 1991-01-05  88

- datetimeìœ¼ë¡œ ë³€í™˜í›„ í™•ì¸í•´ë³´ë©´ íƒ€ì…ì´ ë³€ê²½ëœ ê²ƒì„ ì•Œ ìˆ˜ ìˆë‹¤.

In [22]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, ì² ìˆ˜ to ë¯¸ì˜
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ìƒë…„ì›”ì¼    4 non-null      datetime64[ns]
 1   ì ìˆ˜      4 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 96.0+ bytes

- ì‹œê³„ì—´ ë°ì´í„° í™œìš©
  - ë‚ ì§œ ë°ì´í„°ë¥¼ ë¶„ë¦¬í•  ìˆ˜ ìˆë‹¤.
  - ì—°-ì›”-ì¼ ì •ë³´ì—ì„œ ì—°,ì›”,ì¼ ì¶”ì¶œ: dt.year, dt.month, dt.dayë¥¼ ì‚¬ìš©

In [23]:
d1['ë…„'] = d1['ìƒë…„ì›”ì¼'].dt.year
d1['ì›”'] = d1['ìƒë…„ì›”ì¼'].dt.month
d1['ì¼'] = d1['ìƒë…„ì›”ì¼'].dt.day
d1

         ìƒë…„ì›”ì¼  ì ìˆ˜     ë…„   ì›”   ì¼
ì² ìˆ˜ 1990-03-02  90  1990   3   2
ì˜ì´ 1991-08-08  95  1991   8   8
ê¸¸ë™ 1990-11-22  90  1990  11  22
ë¯¸ì˜ 1991-01-05  88  1991   1   5

 - ì—°-ì›”-ì¼ ì •ë³´ì—ì„œ ì—°-ì›” ì¶”ì¶œ: dt.to_period()ë¥¼ ì‚¬ìš©
 - df.to_period(freq=None, axis=0)
  - freq : ì›í•˜ëŠ” ì‹œê°„ ë‹¨ìœ„ë¡œ ë³€í™˜('Y','M','D', 'W')
  - axis : ë³€í™˜í•  ê¸°ì¤€ ì¶•

In [24]:
d1['ë…„ì›”'] = d1['ìƒë…„ì›”ì¼'].dt.to_period(freq='M')
d1

         ìƒë…„ì›”ì¼  ì ìˆ˜     ë…„   ì›”   ì¼       ë…„ì›”
ì² ìˆ˜ 1990-03-02  90  1990   3   2  1990-03
ì˜ì´ 1991-08-08  95  1991   8   8  1991-08
ê¸¸ë™ 1990-11-22  90  1990  11  22  1990-11
ë¯¸ì˜ 1991-01-05  88  1991   1   5  1991-01

- ë‚ ì§œ ì¸ë±ìŠ¤ í™œìš©

In [25]:
d2 = d1.set_index('ìƒë…„ì›”ì¼')
d2

            ì ìˆ˜     ë…„   ì›”   ì¼       ë…„ì›”
ìƒë…„ì›”ì¼
1990-03-02  90  1990   3   2  1990-03
1991-08-08  95  1991   8   8  1991-08
1990-11-22  90  1990  11  22  1990-11
1991-01-05  88  1991   1   5  1991-01

In [26]:
d2[d2.index.year == 1990]

            ì ìˆ˜     ë…„   ì›”   ì¼       ë…„ì›”
ìƒë…„ì›”ì¼
1990-03-02  90  1990   3   2  1990-03
1990-11-22  90  1990  11  22  1990-11

In [27]:
d2.loc['1990']

            ì ìˆ˜     ë…„   ì›”   ì¼       ë…„ì›”
ìƒë…„ì›”ì¼
1990-03-02  90  1990   3   2  1990-03
1990-11-22  90  1990  11  22  1990-11

In [28]:
today = pd.to_datetime('2025-05-20')
today

Timestamp('2025-05-20 00:00:00')

In [29]:
d2['ë‚ ì§œ_ì°¨ì´'] = today-d2.index
d2

            ì ìˆ˜     ë…„   ì›”   ì¼       ë…„ì›”      ë‚ ì§œ_ì°¨ì´
ìƒë…„ì›”ì¼
1990-03-02  90  1990   3   2  1990-03 12863 days
1991-08-08  95  1991   8   8  1991-08 12339 days
1990-11-22  90  1990  11  22  1990-11 12598 days
1991-01-05  88  1991   1   5  1991-01 12554 days

## í”¼ë²— í…Œì´ë¸”ì„ ì´ìš©í•œ ë°ì´í„° ì •ë¦¬
- í”¼ë²—(pivot): ë†êµ¬ ë“±ì—ì„œ, í•œ ë°œì„ ë¶™ì¸ ì±„ ë‚¨ì€ í•œ ë°œì„ ì´ë¦¬ ì €ë¦¬ ëŒë ¤ ë°©í–¥ì„ ë°”ê¾¸ëŠ” ê²ƒ ì˜ë¯¸ê°€ í™•ì¥ë˜ì–´ ë¶„ì•¼ë¥¼ ë§‰ë¡ í•˜ê³  'ë°©í–¥ì„ ë°”ê¾¼ë‹¤'ë¼ëŠ” ì˜ë¯¸. ì‚¬ì „ì ìœ¼ë¡œ 'ì¶•ì„ ì¤‘ì‹¬ìœ¼ë¡œ íšŒì „í•˜ë‹¤' ë˜ëŠ” 'ì¤‘ì‹¬ì¶•'ì´ë¼ëŠ” ì˜ë¯¸
- í”¼ë²— í…Œì´ë¸”: ë°ì´í„°ë¥¼ ìš”ì•½í•˜ê³  ë¶„ì„í•˜ëŠ” ë° ì‚¬ìš©í•˜ëŠ” í…Œì´ë¸”
- ì›ì‹œ ë°ì´í„°ë¥¼ í•œëˆˆì— ë³¼ ìˆ˜ ìˆë„ë¡ ì¬êµ¬ì„±í•˜ê³ , í•„ìš”ì— ë”°ë¼ íŠ¹ì • ë³€ìˆ˜ì— ë”°ë¼ ë°ì´í„°ë¥¼ ê·¸ë£¹í™”í•˜ê±°ë‚˜ ì§‘ê³„í•  ìˆ˜ ìˆìŒ
- .pivot_table(df, index=ì¸ë±ìŠ¤ë¦¬ìŠ¤íŠ¸, values=ê°’ë¦¬ìŠ¤íŠ¸)

- salesfunnel.xlsx: íŒë§¤ ê±°ë˜ ë°ì´í„°
  - Account: ê±°ë˜ë¥¼ ì§„í–‰í•œ ê³ ê°ì˜ ê³„ì • ë²ˆí˜¸
  - Name: ê³ ê°ì˜ ì´ë¦„
  - Rep: ê±°ë˜ë¥¼ ì§„í–‰í•œ íŒë§¤ ëŒ€í‘œ
  - Manager: íŒë§¤ ëŒ€í‘œë¥¼ ê´€ë¦¬í•˜ëŠ” ë§¤ë‹ˆì €
  - Product: ê±°ë˜ëœ ì œí’ˆ
  - Quantity: ê±°ë˜ëœ ì œí’ˆì˜ ìˆ˜ëŸ‰
  - Price: ì œí’ˆ ë‹¨ê°€
  - Status: ê±°ë˜ì˜ ìƒíƒœ (presented, pending, declined ë“±)

In [30]:
import pandas as pd
df = pd.read_excel('https://raw.githubusercontent.com/HaesunByun/common/main/data/salesfunnel.xlsx')
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

- indexëŠ” ê·¸ë£¹í•‘í•  ì—´ì˜ ì´ë¦„ì´ë‹¤.
- ì•„ë˜ ì˜ˆì œì—ì„œëŠ” Managerì™€ Repë¥¼ indexë¡œ í•˜ì—¬ ê·¸ë£¹í•‘í•˜ë©°, ê·¸ë£¹í•‘í•  valuesëŠ” 'price'ì´ë‹¤.
- valueë¥¼ pivot_tableë¡œ í•©ì¹œ ê²½ìš° ë””í´íŠ¸ë¡œ í‰ê· ì¹˜ë¡œ ê³„ì‚°ëœë‹¤.

In [31]:
pd.pivot_table(df, index=['Manager', 'Rep'], values=['Price'])

                                    Price
Manager       Rep
Debra Henley  Craig Booker   20000.000000
              Daniel Hilton  38333.333333
              John Smith     20000.000000
Fred Anderson Cedric Moss    27500.000000
              Wendy Yule     44250.000000

- valueì˜ ê°’ì„ í•©ì‚°ìœ¼ë¡œ í•˜ê³  ì‹¶ì„ ë•Œ aggfuncì˜µì…˜ì— sumí•¨ìˆ˜ì˜ ì´ë¦„ì„ ì“´ë‹¤.

In [32]:
pd.pivot_table(df, index=['Manager', 'Rep'], values=['Price'], aggfunc='sum')

                              Price
Manager       Rep
Debra Henley  Craig Booker    80000
              Daniel Hilton  115000
              John Smith      40000
Fred Anderson Cedric Moss    110000
              Wendy Yule     177000

## AIì½”ë”© í™œìš©í•˜ê¸°

- ChatGPT(Generative Pre-trained Transformer)ëŠ” ë¯¸êµ­ì˜ AI ì—°êµ¬ì¬ë‹¨ OpenAIê°€ 2022ë…„ 11ì›” ê³µê°œí•œ ì´ˆê±°ëŒ€ ì–¸ì–´ëª¨ë¸ GPT-3.5 ê¸°ë°˜ ëŒ€í™”í˜• ì¸ê³µì§€ëŠ¥ ì±—ë´‡ì´ë‹¤.
- Generative(ìƒì„±í˜•), Pre-trained(ë¯¸ë¦¬ í•™ìŠµëœ) Transformer(ë³€í™˜ê¸°)

- í˜„ì¬ Chat GPT í™ˆí˜ì´ì§€(https://chat.openai.com/chat) ì—ì„œ ëˆ„êµ¬ë‚˜ ê°€ì… í›„ ì‚¬ìš© ê°€ëŠ¥í•˜ë‹¤.

- ì‚¬ìš©ìê°€ ì±„íŒ… í•˜ë“¯ ì§ˆë¬¸ì„ ì…ë ¥í•˜ë©´ ChatGPTëŠ” í•™ìŠµí•œ ë°ì´í„°ë¥¼ ê¸°ë°˜ìœ¼ë¡œ 'ì‚¬ëŒì²˜ëŸ¼' ë¬¸ì¥ì„ ë§Œë“¤ì–´ ë‹µì„ í•´ì¤€ë‹¤.
- ë§ˆì¹˜ ì§„ì§œ ì‚¬ëŒê³¼ ëŒ€í™”í•˜ëŠ” ê²ƒì²˜ëŸ¼ ìì—°ìŠ¤ëŸ½ê²Œ ì§ˆë¬¸ê³¼ ë‹µë³€ì„ ì£¼ê³ ë°›ì„ ìˆ˜ ìˆë‹¤.

- ë‹¨ìˆœ ì •ë³´ ì§œê¹ê¸°ë¿ ì•„ë‹ˆë¼ ì—ì„¸ì´ãƒ»ì†Œì„¤ãƒ»ì‹œ ë“± ë‹¤ì–‘í•œ ì°½ì‘ë¬¼, ì‹¬ì§€ì–´ í”„ë¡œê·¸ë˜ë° ì½”ë“œê¹Œì§€ ìƒì„±í•œë‹¤ëŠ” ì ì—ì„œ í™”ì œê°€ ë˜ê³  ìˆë‹¤.

ì¶œì‹œì¼
```
2022.11 â€” ChatGPT ì¶œì‹œ (GPT-3.5 ê¸°ë°˜)
2023.02 â€” ChatGPT Plus ìœ ë£Œ ìš”ê¸ˆì œ ë„ì…
2023.03 â€” GPT-4 ëª¨ë¸ ê³µê°œ (Plus ì‚¬ìš©ìì— í•œí•´ ì œê³µ)
2024.05 â€” GPT-4o(Omni) ì¶œì‹œ: ë©€í‹°ëª¨ë‹¬ ì§€ì› (í…ìŠ¤íŠ¸Â·ìŒì„±Â·ì´ë¯¸ì§€)
2025.02 â€” GPT-4.5 ì¶œì‹œ (ì½”ë“œëª…: Orion)
2025.04 â€” o3, o4-mini ëª¨ë¸ ì¶œì‹œ
2025.05 â€” GPT-4.1 ë° GPT-4.1 mini ì¶œì‹œ
```

<div align="center"><img src="https://haesunbyun.github.io/common/images/chatGPT_logo.png" width="300"></div>

ChatGPT

https://chatgpt.com/

### ChatGPTì—ê²Œ ì§ˆë¬¸í•˜ê¸°

Q. ChatGPTì—ê²Œ ì§ˆë¬¸í•´ë³´ì„¸ìš”.
- ChatGPTë€ ë­ì•¼?
- ì¸ê³µì§€ëŠ¥ì— ëŒ€í•œ ì‹œë¥¼ ì‘ì„±í•´ì¤˜
- ChatGPT í™œìš© ë¶„ì•¼ë¥¼ ì•Œë ¤ì¤˜
- Chat GPTëŠ” ì ‘ì†ì´ ì›í™œí•œ ì‹œê°„ì´ ì–¸ì œì•¼?
- Chat GPT ìœ ë£Œì™€ ë¬´ë£Œì˜ ì°¨ì´ë¥¼ ì„¤ëª…í•´ì¤˜
- ì„¸ìƒì—ì„œ ê°€ì¥ ì•„ë¦„ë‹¤ìš´ ê³³ì€?
- ì„¸ìµìŠ¤í”¼ì–´ ì‘í’ˆì— ëŒ€í•´ ê°€ë¥´ì³ ì¤˜

### ì½”ë©ì˜ AIì½”ë”©

- ì½”ë©ì—ì„œë„ AIë¡œ ì½”ë“œë¥¼ ìƒì„±í•  ìˆ˜ ìˆë‹¤.

<div align="center"><img src="https://haesunbyun.github.io/common/images/AIcoding.PNG" width=400>
</div>

### Practice-1: Chat-GPTë¡œ ì„œìš¸ì¸êµ¬ë°ì´í„° í™œìš©í•´ë³´ê¸°
- ë°ì´í„° ë‹¤ìš´ë¡œë“œ ì‚¬ì´íŠ¸ : https://data.seoul.go.kr/
- ê²€ìƒ‰ì–´: ì„œìš¸ì‹œ ìì¹˜êµ¬ë³„ ì¸êµ¬ìˆ˜
- ëª©í‘œ:
  - ê° êµ¬ë³„ í•œêµ­ì¸ì˜ ë¹„ìœ¨ êµ¬í•˜ê¸°
  - ê° êµ¬ë³„ ì™¸êµ­ì¸ì˜ ë¹„ìœ¨ êµ¬í•˜ê¸°
  - ê° êµ¬ë³„ ê³ ë ¹ìì˜ ë¹„ìœ¨ êµ¬í•˜ê¸°
  - ì¸êµ¬ìˆ˜ê°€ ì ì€ ìˆœì„œëŒ€ë¡œ 5ê°œ êµ¬ ì¶œë ¥í•˜ê¸°
  - ì™¸êµ­ì¸ ìˆ˜ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ê¸°
  - ê³ ë ¹ì ë¹„ìœ¨ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•˜ê¸°
  - ì¸êµ¬ìˆ˜ê°€ ê°€ì¥ ë§ì€ ìì¹˜êµ¬ì™€ ì¸êµ¬ìˆ˜ ìµœëŒ€ê°’ êµ¬í•˜ê¸°
  - ì¸êµ¬ìˆ˜ê°€ ê°€ì¥ ì ì€ ìì¹˜êµ¬ì™€ ì¸êµ¬ìˆ˜ ìµœì†Œê°’ êµ¬í•˜ê¸°
  - ì¸êµ¬ìˆ˜ì™€ ê³ ë ¹ììˆ˜ ê°„ì˜ ìƒê´€ ê´€ê³„ êµ¬í•˜ê¸°

ğŸ˜„ í•„ìš”í•œ ì¹¼ëŸ¼ë§Œ ë¶ˆëŸ¬ì™€ì„œ ë°ì´íƒ€í”„ë ˆì„ ìƒì„±í•˜ê¸°
- ë‹¤ìš´ë¡œë“œí•œ íŒŒì¼ì„ ì—´ì–´ì„œ ì•„ë˜ì˜ ì˜µì…˜ì— ì‚¬ìš©í•  ì¹¼ëŸ¼ì„ ì‚´í´ë³¸ë‹¤.
- header: ì¹¼ëŸ¼ ì´ë¦„ ì§€ì •
- index_col: indexë¡œ ì§€ì •í•  ì¹¼ëŸ¼ ì§€ì •
- use_cols: ì‚¬ìš©í•  ì¹¼ëŸ¼ ì§€ì •

ğŸ˜„ ë°ì´íƒ€í”„ë ˆì„ ì¹¼ëŸ¼ëª… ë³€ê²½í•˜ê¸°

ğŸ˜„ ë°ì´íƒ€í”„ë ˆì„ ì¸ë±ìŠ¤ ì„¤ì •í•˜ê¸°

ğŸ˜„ ë¶ˆí•„ìš”í•œ í–‰ ì‚­ì œí•˜ê¸°

ğŸ˜„ ê°’ êµ¬í•˜ê¸°
```
ê° êµ¬ë³„ í•œêµ­ì¸ì˜ ë¹„ìœ¨ êµ¬í•˜ê¸°
ê° êµ¬ë³„ ì™¸êµ­ì¸ì˜ ë¹„ìœ¨ êµ¬í•˜ê¸°
ê° êµ¬ë³„ ê³ ë ¹ìì˜ ë¹„ìœ¨ êµ¬í•˜ê¸°
```

ğŸ˜„ ê°’ì— ë”°ë¼ ì •ë ¬í•˜ê¸°
```
- ì¸êµ¬ìˆ˜ê°€ ì ì€ ìˆœì„œëŒ€ë¡œ 5ê°œ êµ¬ ì¶œë ¥í•˜ê¸°
- ì™¸êµ­ì¸ ìˆ˜ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ê¸°
- ê³ ë ¹ì ë¹„ìœ¨ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•˜ê¸°
```

ğŸ˜„ ë°ì´íƒ€í”„ë ˆì„ í•„ìš”í•œ í†µê³„ë‚´ê¸°
```
- ì¸êµ¬ìˆ˜ê°€ ê°€ì¥ ë§ì€ ìì¹˜êµ¬ì™€ ì¸êµ¬ìˆ˜ ìµœëŒ€ê°’ êµ¬í•˜ê¸°
- ì¸êµ¬ìˆ˜ê°€ ê°€ì¥ ì ì€ ìì¹˜êµ¬ì™€ ì¸êµ¬ìˆ˜ ìµœì†Œê°’ êµ¬í•˜ê¸°
- ì¸êµ¬ìˆ˜ì™€ ê³ ë ¹ììˆ˜ ê°„ì˜ ìƒê´€ ê´€ê³„ êµ¬í•˜ê¸°
```

---
<font color='Grey' size="4">
F37.101 ì»´í“¨íŒ… ê¸°ì´ˆ: ì²˜ìŒ ë§Œë‚˜ëŠ” ì»´í“¨íŒ…(First Adventures in Computing)</font> ì„œìš¸ëŒ€í•™êµ í•™ë¶€ëŒ€í•™ ë³€í•´ì„ 

---